<% @walls.each do |w| %>
  <h4><%=w["_id"]["date"]%>/<%=w["_id"]["month"]%>/<%=w["_id"]["year"]%></h4>
  <p>Total number of walls: <%=w["wall_count"]%></p>
  <p>Total number of Tags: <%=w["tag_user_count"]%></p>
  <p>Total number of chats: <%=w["chat_count"]%></p>
<% end %>

<!-- [{"_id"=>{"year"=>2014, "month"=>10}, "wall_count"=>6, "tag_user_count"=>8}, {"_id"=>{"year"=>2014, "month"=>11}, "wall_count"=>26, "tag_user_count"=>31}] -->


<!-- [{"_id"=>{"date"=>10, "month"=>11, "year"=>2014}, "wall_count"=>1, "tag_user_count"=>2}, {"_id"=>{"date"=>17, "month"=>11, "year"=>2014}, "wall_count"=>3, "tag_user_count"=>0}, {"_id"=>{"date"=>9, "month"=>11, "year"=>2014}, "wall_count"=>6, "tag_user_count"=>4}, {"_id"=>{"date"=>6, "month"=>11, "year"=>2014}, "wall_count"=>8, "tag_user_count"=>5}, {"_id"=>{"date"=>29, "month"=>11, "year"=>2014}, "wall_count"=>1, "tag_user_count"=>0}, {"_id"=>{"date"=>2, "month"=>11, "year"=>2014}, "wall_count"=>3, "tag_user_count"=>20}, {"_id"=>{"date"=>31, "month"=>10, "year"=>2014}, "wall_count"=>3, "tag_user_count"=>4}, {"_id"=>{"date"=>30, "month"=>10, "year"=>2014}, "wall_count"=>3, "tag_user_count"=>4}, {"_id"=>{"date"=>28, "month"=>11, "year"=>2014}, "wall_count"=>4, "tag_user_count"=>0}]  -->
