<h2>Dear <%=@referrer%></h2>

<p>You have been referred by <%=@referred_by%> on a post about <%=@tag%> on yelo.</p>
<p><i>"<%=@msg%>"</i> -<%=@owner%></p>
<p>Download Now: http://yelo.red</p>

<p>Regards,</p>
<p>Team yelo.</p>


