<p>You have been referred by <%=@referred_by%> on a post about <%=@tag%> on yelo.</p>
<p><i>"<%=@msg%>" - <%=@owner%></i></p>
<p>Download the app to directly chat with <%=@owner%>. http://yelo.red</p>
</br>
<p style="line-height:1">Regards,</p>
<p style="line-height:1">Team yelo.</p>
