<h1><%=params[:type] %> data</h1>
<table border="1" style="width:100%">
  <tr>
    <th>users</th>
    <th>listings</th>
    <th>service cards</th> 
    <th>chat</th>
    <th>posts</th>
  </tr>
    <tr>
      <td><%=@users.count%></td>
	  <td><%=@listings.count%></td>
	  <td><%=@service_cards.count%></td>
	  <td><%=@chats.count%></td>
	  <td><%=@posts.count%></td>
   </tr>

</table>

