<%= form_for([:administrator, @service_card]) do |f| %>
  <% if @service_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_card.errors.count, "error") %> prohibited this service card from being saved:</h2>

      <ul>
      <% @service_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :message %></b><br>
    <%= f.text_area :message %><br><br>
  </div>
  <div class="field">
    <b><%= f.label :status %>:</b><br>
    <%= f.label :status, "OFF" %>
    <%= radio_button("service_card", "status", ServiceCard::SERVICE_CARD[:OFF])%><br>
    <%= f.label :status, "ON" %>&nbsp;
    <%= radio_button("service_card", "status", ServiceCard::SERVICE_CARD[:ON])%><br>
    <%= f.label :status, "HIDDEN" %>
    <%= radio_button("service_card", "status", ServiceCard::SERVICE_CARD[:HIDDEN])%>
    <%= f.label :status, "REJECT" %>
    <%= radio_button("service_card", "status", ServiceCard::SERVICE_CARD[:REJECT])%>
  </div>
  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>
